@using System.Web.UI.HtmlControls
@{
    ViewBag.Title = "Analytics";
}

<h2>Analysis Tools Demo</h2>
<li>@Html.ActionLink("Average Stay Period", "StayPeriod")</li>
<li>@Html.ActionLink("Average Recovery Time", "RecoveryTime")</li>