@{
    ViewBag.Title = "Index";
}

<h2>Analytics</h2>
<p>Analysis tools demo.</p>
<br/>
<h3>Average Stay Period For Illness</h3>
<p>Illness field.</p>
<br/>
<h3>Average Recovery Time For Patients</h3>
<p>Illness and medication fields.</p>