@{
    ViewBag.Title = "Analytics";
}

<h2>Analysis Tools Demo</h2>
<h3>@Html.ActionLink("Stay Period Visualizer", "StayPeriod")</h3>
<h3>@Html.ActionLink("Doctor Performance Chart ( ~5 Minute Load Time :[ )", "DoctorPerformance")</h3>