<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <add name="MedicalDatabase" providerName="System.Data.SqlClient"
         connectionString="Server=tcp:ratcss475.database.windows.net,1433;Persist Security Info=False;User ID=ratAdminMedDatabase;Password=MYBOlMPg3u;Initial Catalog=Medical Database;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=3600;"
    />
</connectionStrings>